name: CI

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Deploy API
      run: |
        python3 scripts/deploy_api.py
    - name: Deploy HTML
      run: |
        python3 scripts/deploy_pages.py
